package repository

import (
	"context"
	"{{.ProjectModule}}/internal/domain/entity"
)

// {{.EntityName}}Repository 定义了 {{.EntityName}} 实体的持久化操作接口
type {{.EntityName}}Repository interface {
{{if not .NoCrudMethods}}
	Create(ctx context.Context, model *entity.{{.EntityName}}) error
	FindAll(ctx context.Context) ([]entity.{{.EntityName}}, error)
	FindByID(ctx context.Context, id {{.PrimaryKey.Type}}) (*entity.{{.EntityName}}, error)
	Update(ctx context.Context, model *entity.{{.EntityName}}) error
	Delete(ctx context.Context, id {{.PrimaryKey.Type}}) error
{{else}}
    // ExampleMethod(ctx context.Context, arg string) (string, error)
{{end}}
}