package model


// Create{{.EntityName}}Request defines the payload for creating a new {{.EntityName}}.
// NOTE: You should manually add the fields you expect from the client.
// Example: Name string `json:"name" binding:"required"`
type Create{{.EntityName}}Request struct {
}

// Update{{.EntityName}}Request defines the payload for updating a {{.EntityName}}.
// NOTE: You should manually add the fields you expect from the client.
// Example: Name string `json:"name"`
type Update{{.EntityName}}Request struct {
}



// {{.EntityName}}Response defines the structure of the returned {{.EntityName}} object.
type {{.EntityName}}Response struct {
	{{range .Fields}}
	{{.Name}} {{.Type}} `json:"{{.LowerName}}"`
	{{end}}
}