package persistence

import (
	"context"
	"fmt"
	"log"

	"{{.ProjectModule}}/internal/domain/entity"
	"{{.ProjectModule}}/internal/domain/repository"
	"gorm.io/gorm"
)

var _ repository.{{.EntityName}}Repository = (*{{.LowerEntityName}}RepositoryImpl)(nil)

type {{.LowerEntityName}}RepositoryImpl struct {
	db *gorm.DB
}

// New{{.EntityName}}Repository 创建一个新的 GORM {{.EntityName}} 仓库实现
func New{{.EntityName}}Repository(db *gorm.DB) repository.{{.EntityName}}Repository {
	if !db.Migrator().HasTable(&entity.{{.EntityName}}{}) {
		log.Printf("Table for '%s' not found, running AutoMigrate...", "{{.EntityName}}")

		err := db.AutoMigrate(&entity.{{.EntityName}}{})
		if err != nil {
			panic(fmt.Sprintf("Failed to auto-migrate table for {{.EntityName}}: %v", err))
		}
		log.Printf("Table for '%s' created successfully.", "{{.EntityName}}")
	}
	return &{{.LowerEntityName}}RepositoryImpl{db: db}
}

{{if not .NoCrudMethods}}
func (r *{{.LowerEntityName}}RepositoryImpl) Create(ctx context.Context, model *entity.{{.EntityName}}) error {
	return r.db.WithContext(ctx).Create(model).Error
}

func (r *{{.LowerEntityName}}RepositoryImpl) FindAll(ctx context.Context) ([]entity.{{.EntityName}}, error) {
	var models []entity.{{.EntityName}}
	err := r.db.WithContext(ctx).Find(&models).Error
	return models, err
}

func (r *{{.LowerEntityName}}RepositoryImpl) FindByID(ctx context.Context, id {{.PrimaryKey.Type}}) (*entity.{{.EntityName}}, error) {
	var model entity.{{.EntityName}}
	err := r.db.WithContext(ctx).First(&model, "{{.PrimaryKey.GormName}} = ?", id).Error
	if err != nil {
		return nil, err
	}
	return &model, nil
}

func (r *{{.LowerEntityName}}RepositoryImpl) Update(ctx context.Context, model *entity.{{.EntityName}}) error {
	return r.db.WithContext(ctx).Save(model).Error
}

func (r *{{.LowerEntityName}}RepositoryImpl) Delete(ctx context.Context, id {{.PrimaryKey.Type}}) error {
	return r.db.WithContext(ctx).Delete(&entity.{{.EntityName}}{}, id).Error
}
{{else}}
/**
// ExampleMethod 是一个自定义方法的示例
func (r *{{.LowerEntityName}}RepositoryImpl) ExampleMethod(ctx context.Context, arg string) (string, error) {
	// 在这里实现你的自定义数据库逻辑
	return "示例返回", nil
}
*/
{{end}}