package ports

import (
	"{{.ProjectModule}}/internal/domain/entity"
)

// {{.EntityName}}Repository 定义了数据操作接口
type {{.EntityName}}Repository interface {
{{if not .NoCrudMethods}}
	Create(model *entity.{{.EntityName}}) error
	FindAll() ([]entity.{{.EntityName}}, error)
	FindByID(id {{.PrimaryKey.Type}}) (*entity.{{.EntityName}}, error)
	Update(model *entity.{{.EntityName}}) error
	Delete(id {{.PrimaryKey.Type}}) error
{{else}}
    // ExampleMethod(ctx context.Context, arg string) (string, error)
{{end}}
}